
/* pentagon drawing with css*/
 .pent{
  display: inline;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  width: 200px;
  height: 200px;
  color: #ff6565;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 10% 100%,18% 100%,0% 38%);
} 
@media (min-width: 480px){
  .header{
    width: auto;
    
  }
  .nav-links{
    display: column;
    font-size: 16px;
  }
  .mid{
    justify-content: center;
  }
  .images{
    display: center;
